.popup__info {
 border: none;
 border-bottom: 1px solid gray;
 width: 358px;
 align-self: center;
 margin-bottom: 48px;   
  }

  @media (max-width: 768px) {
    .popup__info {
      width: 238px;
      margin-bottom: 45px;
    }
  }