.popup__input-error {
 color: white;
 padding-left: 36px;
 font-size: 12px;
 line-height: 15px;
 margin-top: 5px;
 margin-bottom: 31px;
max-width: 358px;
position: absolute;
top: 200px;

  }

  .popup__input-error:nth-child(3) {
    top: 143px;
  }

  @media (max-width: 768px) {
    .popup__input-error {
      padding-left: 20px;
      top: 213px;
    }
    .popup__input-error:nth-child(3) {
      top: 150px;
    }
  }