.popup__close-btn_img {
  left: calc(100% + 8px);
  bottom: calc(100% + 8px);
  }

  @media (max-width: 768px) {
    .popup__close-btn_img {
      width: 20px;
      height: 20px;
      left: calc(100% - 16px);;
      bottom: calc(100% + 16px);
    }
  }

