.popup-image__close-btn {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close_icon.png);
  background-size: cover;
  left: calc(100% + 8px);
  bottom: calc(100% + 8px);
  border: none;
  align-self: flex-end;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  }

  @media (max-width: 768px) {
    .popup-image__close-btn {
      width: 20px;
      height: 20px;
    }
  }

  .popup-image__close-btn:hover {
   opacity: 0.6;
  }
