.popup__flex {
 display: flex;
 flex-direction: column;
 width: 470px;
 position: absolute;
 margin: auto;
 bottom: 0;
 
  }

  @media (max-width: 768px) {
    .popup__flex {
      width: 282px;
    }
  }