.profile__description{
  font-size: 18px;
  color: white;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
  max-width: 330px;
  }

  @media (max-width: 768px) {
    .profile__description {
      padding-bottom: 14px;
      font-size: 14px;
      text-align: center;
    }
  }