.popup__close-btn {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close_icon.png);
  background-size: cover;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  align-self: flex-end;
  margin-bottom: 8px;
  cursor: pointer;
  background-color: black;
  }

  @media (max-width: 768px) {
    .popup__close-btn {
      margin-bottom: 16px;
      width: 20px;
      height: 20px;
    }
  }

  .popup__close-btn:hover {
   opacity: 0.8;
  }
