.popup__close-btn {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close_icon.png);
  background-size: cover;
  left: 438px;
  bottom: 346px;
  border: none;
  align-self: flex-end;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  }

  @media (max-width: 768px) {
    .popup__close-btn {
      width: 20px;
      height: 20px;
      left: 262px;
      right: 0;
      bottom: 348px;
    }
  }

  .popup__close-btn:hover {
   opacity: 0.6;
  }
