.popup__close-btn {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close_icon.png);
  background-size: cover;
  left: 448px;
  bottom: 338px;
  border: none;
  align-self: flex-end;
  margin-bottom: 8px;
  cursor: pointer;
  background-color: black;
  position: absolute;
  }

  @media (max-width: 768px) {
    .popup__close-btn {
      width: 20px;
      height: 20px;
      bottom: 338px;
      left: 262px;
      right: 0;
    }
  }

  .popup__close-btn:hover {
   opacity: 0.8;
  }
