.element__like-btn {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like.png);
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  margin-right: 15px;
  cursor: pointer;
  background-color: white;
  }

  .element__like-btn:hover {
    opacity: 0.5;
  }