.profile__info {
  padding-left: 30px;
  max-width: 336px;
  display: grid;
  grid-template-columns: 305px 24px;
  grid-template-rows: 39px 18px;
  column-gap: 18px;
  row-gap: 16px;
  color: white;
  margin: 0;
  align-self: center;
  }

  @media (max-width: 768px) {
    .profile__info {
      max-width: 100%;
      padding-top: 26px;
      grid-template-columns: 170px 24px;
  grid-template-rows: 26px 14px;
  column-gap: 10px;
  row-gap: 14px;
  margin: auto;
  padding-left: 0;
  padding-bottom: 36px;
    }
  }