.footer {
    padding-top: 66px;
    display: flex;
    max-width: 880px;
    margin: auto;
    padding-bottom: 60px;
    
}

@media (max-width: 1024px) {
  .footer {
    max-width: calc(100% - 100px);
  }
}

  @media (max-width: 768px) {
    .footer {
      max-width: 282px;
      padding-top: 48px;
      padding-bottom: 36px;
    }
  }