.element {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  }

  /*скрытие старых карточек*/
  .element:nth-child(18) {
    display: none;
  }
  .element:nth-child(17) {
    display: none;
  }
  .element:nth-child(16) {
    display: none;
  }

  .element:nth-child(15) {
    display: none;
  }

  .element:nth-child(14) {
    display: none;
  }

  .element:nth-child(13) {
    display: none;
  }